{
  "presets": [
    [
      "@nrwl/react/babel",
      {
        "runtime": "automatic",
        "importSource": "@emotion/react",
        "useBuiltIns": "entry",
        "corejs": "3.6",
        "modules": "false",
        "debug": false
      }
    ]
  ],
  "plugins": [
    "@emotion/babel-plugin"
  ]
}
